APP_NAME=Civic AI Service

AI_HOST=0.0.0.0
AI_PORT=8000

MODEL_PATH=weights/best.pt

YOLO_CONFIDENCE=0.25
YOLO_IOU=0.45

MAX_IMAGE_SIZE_MB=10

UPLOAD_FOLDER=uploads
OUTPUT_FOLDER=outputs

LOG_LEVEL=INFO

MONGODB_URI=your_mongodb_uri_here
